.AnchorPane{
      -fx-background-image :url("cream.jpg");
}

.Label{
-fx-font-size: 13px;
-fx-text-fill: #333333;
-fx-font-family: "Verdana";
-fx-alignment: Left;

}
.button.fancy-button {
    -fx-background-color: linear-gradient(#fcfcfc, #e6e6e6);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #333333;
    -fx-border-width: 2;
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}